.carrito {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    align-self: start;
    margin-top: 20px;
}

h1 {
    align-self: flex-start;
    margin: 0 0 20px 20px;
}

h2 {
    align-self: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #5a705fda;
    width: 90%;
    align-items: space-between;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 5px 5px black;
}

.subtitulos {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    align-items: center;
    justify-content: center;
}

.productos {
    margin: 0;
    padding: 0;

}

.producto {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    gap: 0;
    align-items: center;
    justify-items: start;
    margin: 0 0 20px 0;
}

.precio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.datos {
    display: flex;
    justify-self: flex-start;
    align-self: center;
    gap: 20px;
}

.datosDescr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
}

.datosDescr h4{
    color: black;
    font-weight: bold;
}

.datosDescr h5{
    color: black;
    font-weight:normal;
}

.datosDescr p{
    color: black;
    font-weight: normal;
}



.imagenCart {
    width: 200px;
    height: 300px;
}

.imagenCart img {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    box-shadow: 6px 3px 3px black;
}

.contadorContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    max-width: 200px;
    font-weight: bold;
    height: 47px;
}

.contadorButton {
    background-color: #198754;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.contadorButton:hover {
    background-color: #146c43;
    color: white;
}

.contadorNumero {
    display: block;
    flex: 1; /* Ocupa todo el espacio disponible */
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 100%;
    background-color: #198754;
    border-radius: 5px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    box-sizing: border-box;
}

.totales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.linkStyle {
    text-decoration: none;
    /* Quitar la decoración del enlace */
    color: inherit;
    /* Heredar el color del texto del contenedor */
    width: 180px;
    height: 50px;
    align-self: center;
    justify-self: center;
    color: black;
    font-weight: bold;
}

.totales button{
    width: 180px;
    height: 50px;
    align-self: center;
    justify-self: center;
    color: black;
    font-weight: bold;
}

/* CUANDO NO HAY PRODUCTOS */


.sinProductos{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.inicio{
    text-decoration: none;
    color: black;
    font-weight: bold;
}