.mensajes {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item {
    display: grid;
    grid-template-columns: 70%, 30%;
    grid-template-rows: repeat(10px, 1fr);
    gap: 16px;
    align-content: center;
    padding: 10px;
}

h1 {
    grid-column: 1/3;
    justify-self: center;
    font-weight: bold;
}

.products{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

.productPreview{
    justify-self: center;
    align-self: center;
    display: flex;
    padding: 16px;
    border-radius: 8px;
    background-color: #4f7457da;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.25s;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    transition: transform 0.25s;

    &:hover {
        transform: scale(1.05);
    }
}

.productPreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productItem {
    grid-row: span 2;
    display: flex;
    padding: 16px;
    border-radius: 8px;
    background-color: #4f7457da;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.25s;
    width: 600px;
    height: 810px;
    box-sizing: border-box;
}

.productItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productDetail {
    justify-self: center;
    align-self: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    background-color: #5a705fda;
    color: black;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s;
    width: 80%;
    height: 810px;
}

h2 {
    color: black;
    font-weight: bold;
    align-self: center;
}

h3 {
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}

p {
    font-weight: bold;
    color: black;
}

.talles {
    align-self: center;
    width: 80%;
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 1.5rem;
}

.talles button {
    color: black;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

.talles button:focus {
    color: white;
    background-color: #157347;
    border: #157347;
}

.comprar {
    align-self: center;
}

.comprar button {
    color: black;
    font-weight: bold;
    width: 150px;
    height: 60px;
}

.codigo {
    font-weight: lighter;
    font-size: 0.8rem;
}



.contadorButton {
    background-color: #198754;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.contadorButton:hover {
    background-color: #146c43;
    color: white;
}

.contadorNumero {
    display: block;
    flex: 1; /* Ocupa todo el espacio disponible */
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 100%;
    background-color: #198754;
    border-radius: 5px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    box-sizing: border-box;
}

.contadorContainer {
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    max-width: 200px; /* Ajusta según tu necesidad */
    margin: 0 auto; /* Centra el contenido */
}