.links {
    text-decoration: none;
}

.mensajes {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h3{
    color: rgb(7, 49, 7);
    /* color: rgb(3, 85, 3); */
    font-weight: bold;
    /* -webkit-text-stroke: 1px black; */
}

p{
    color: rgb(7, 49, 7);
}
.productItem {
    text-decoration: none;
    display: flex;
    padding: 16px;
    border-radius: 8px;
    background-color: #4f7457da;
    color: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.25s;

    &:hover {
        transform: scale(1.05);
    }
}

.productListStyle{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}


.productTitle {
    font-size: 1.2em;
    font-weight: 500;
}